body{
    background-color: #EEEEEE;
}
*{
    
}

$primaryText : #171717;
$textGrey : #3d3d3d;
:root{
    --primaryText : #171717;
    --textGrey : #969696;
}

@layer components {
    .phone{
        @apply sm:aspect-[430/932] bg-white sm:w-[415px] max-sm:w-full max-sm:h-100dvh sm:rounded-3xl sm:shadow-sm vertical *:w-full overflow-hidden font-poppins;

        >.notification-bar{
            @apply h-[45px] horizontal justify-between px-6 max-sm:opacity-0 max-sm:h-[20px];

            >.time{
                @apply font-medium text-[.8rem];
            }

            >.status-icons{
                @apply horizontal gap-[4px];
            }
        }
    }

    .user-block{
        @apply horizontal items-center gap-2;
        
        >.photo{
            @apply bg-neutral-300 animate-pulse aspect-square w-[40px] rounded-full ;
        }
        >.details{
            >p{
                @apply font-semibold text-[.92rem] -mb-2;
                color: $primaryText;
            }
            >span{
                @apply font-light text-[.75rem] inline-block;
                color: $textGrey;
            }
        }
    }

    .hamburger-btn{
        @apply aspect-square w-[40px] rounded-full bg-[#FAFAFA] hover:bg-[#f0f0f0] grid-center text-neutral-800/75;
    }

    .finance-card{
        @apply p-6;
        >.card{
            @apply w-full aspect-[687/350] vertical text-white;

            >div:first-child{
                @apply bg-[var(--primaryText)] w-full h-[67%] rounded-t-2xl rounded-br-2xl shrink-0;

            }
            >div:nth-child(2){
                @apply  w-full h-[33%] horizontal grow-0;

                >div:first-child{
                    @apply bg-transparent w-full h-full;
                    >div{
                        @apply bg-[var(--primaryText)] w-full h-full rounded-b-2xl;
                    }
                }
                >div:nth-child(2){
                    @apply bg-[var(--primaryText)] w-max h-full ;

                    >div{
                        @apply bg-white w-max h-full rounded-tl-2xl p-2 pb-0 pr-0;
                        >button{
                            @apply bg-[#5962FF] hover:bg-[#4f56e9] text-white w-full h-full rounded-xl font-medium text-[.8rem] px-6  horizontal overflow-hidden relative;
                            transition: .2s ease-in-out;

                            .icon{
                                @apply absolute -left-6 opacity-0;
                                filter: blur(4px);
                                transition: .2s ease-in-out;
                            }

                            &:hover{
                                @apply pl-[2.6rem] ;
                                .icon{
                                    @apply absolute left-4 opacity-100;
                                    filter: blur(0px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .hot-links{
        @apply 
            px-6;

        .swiper-slide{
            @apply w-max h-max;
            >*{
                @apply text-[.75rem] font-medium px-6 py-2 border border-solid border-neutral-300/[.7] text-neutral-700/[.94] rounded-full cursor-pointer transition-all;

                &.active{
                    @apply bg-[#3C4043] border-[#3C4043] text-white
                }
            }
        }

    }

    .single-asset{
        @apply horizontal  justify-between w-full py-3 border-0 border-b border-solid border-neutral-200/[.7];
        >.left{
            @apply horizontal items-center gap-2;
        }
        >.right{
            @apply vertical items-end
        }
        .asset-name{
            @apply capitalize font-semibold text-[var(--primaryText)] text-[.9rem];
        }

        .sub-info{
            @apply text-[.75rem];
        }
    }
    

}